.tic-tac-button {
    background-color: rgb(255, 255, 255);
    width: 100px;
    height: 100px;

    text-align: center;
    font-family: Verdana;
    font-size: 35;
    font-weight: bold;
}

.tic-tac-button:hover {
    background-color: rgb(182, 182, 182);
}

.menu-button {
    /*Body color*/
    background-color: rgb(80, 80, 80);
    color: darkred;

    /*Border*/
    border-radius: 2px;
    border-color: rgb(255, 0, 0);

    /*Sizing*/
    width: 100px;
    height: 50px;

    /*Font*/
    font-weight: bold;
    font-family: Verdana;
}

.menu-button:hover {
    background-color: rgb(100, 100, 100);
}

body {
    text-align: center;
    background-color:black;
}

h1 {
    font-family: Verdana;
    color:lightgreen;
}

.row {
    display: flex;
    justify-content: center;
    gap: 8px;
}

.game-board {
    display: flex;
    flex-direction: column;
    gap: 8px
}